# get rid of things
*.mdx
.env

eslint.config.mjs
pnpm-lock.yaml
.gihub/
.github
.gitignore
.npmrc
.prettierignore
.prettierrc
README.md
.vscode/
components.json
components/ui/
next-env.d.ts
next.config.mjs
package-lock.json
package.json
postcss.config.mjs
prisma/migrations/
tailwind.config.ts
tsconfig.json
vitest.config.ts
.eslintrc.json
.next/
next.config.mjs
next.config.ts